<h1> Bills</h1>
<!--   
<div *ngFor="let bill of bills">
<label>Bill Number: {{bill.Id}}</label><br>
<p>Comment: {{bill.body}}</p><br>
</div> -->   
<button (click)="toggleFilter()" class="btn btn-success">Filter Bills</button>
<div *ngIf="isFilter"> 
<app-filter #flt></app-filter> 
</div>
<p  (notify)="filterBillsList($event)">
hellooo
</p>

<div *ngFor="let bill of bills">
<md-card class="example-card">
  <md-card-header>
    <md-card-title>Bill Number: {{bill.bill_id}}</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle> 
  </md-card-header>
  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-card-content>
    <p>
     Bill Description: {{bill.title}}
    </p>
  </md-card-content>
  <md-card-actions>
      <form (submit)="addComment(comment.value)">
        <div>
            <label for="comment">Comments</label><br>
            <input type="text" #comment><br>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <!--<button md-button>LIKE</button>
    <button md-button>SHARE</button>-->
  </md-card-actions> 
</md-card>
 
</div>
