<section class="app flex-container" fxlayout="column" fxLayoutAlign="start stretch">
  <md-toolbar color="primary" class="mat-elevation-z10">
    <span>{{title}}: Track Idaho laws and lawmakers</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span><md-chip-list>  
      <md-chip routerLink="/bills" color="accent" selected="true">Bills</md-chip>
      <md-chip routerLink="/about" color="accent" selected="true">About</md-chip>
    </md-chip-list></span>
  </md-toolbar>

  <router-outlet></router-outlet>
</section>